---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import SignupForm from "../components/SignupForm.astro";
---

<Layout title="Jelentkezés" description="Jelentkezzen gyermekagykontroll vagy Tantorta tanfolyamra! A jelentkezés nem kötelező érvényű.">
  <Section>
    <SignupForm />
  </Section>
</Layout>
